<div class="cotainer">
  <p>ask to your coach</p>
  <form action="/answer">
    <label for="question">Speak to your coach</label>
    <input type="text" id="question" name="query" placeholder="What time is it now?">
    <input type="submit" value="Go on" class="btn btn-primary">
  </form>
</div>
